div.left {
    position: absolute;
    width:300px;
    height: 300px;
    background-image: url("http://media.comicbook.com/2017/08/gen-3-pokemon-1016315-640x320.jpg");
    transition: .5s ease;
}

.left:hover{
    z-index: 200;
    width:600px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.right{

        position: absolute;
		width:300px;
        height:300px;
        left:300px;
        background-image: url("https://assets.pokemon.com/assets/cms2/img/watch-pokemon-tv/seasons/season20/season20_ep29_ss01.jpg");
        transition: .5s ease;
        z-index:-1;
        
}

.right:hover{
    left:0px;
    z-index: 200;
    width:600px;
}